* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    background-color: black;
}

#particles_counter {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    opacity: 50%;
}

#particles_button {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

#display_fps {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
    opacity: 50%;
}

#logic_fps {
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    opacity: 50%;
}
